[Unit]
Description=Files nginx
Requires=files-uwsgi.service
After=files-uwsgi.service

[Service]
Type=forking
Environment=SNAP_COMMON={{ app_data }}
PIDFile={{ app_data }}/nginx/nginx.pid
ExecStartPre={{ app_dir }}/bin/service.nginx.sh pre-start
ExecStart={{ app_dir }}/bin/service.nginx.sh start
ExecStartPost={{ app_dir }}/bin/service.nginx.sh post-start
ExecReload={{ app_dir }}/bin/service.nginx.sh reload
ExecStop={{ app_dir }}/bin/service.nginx.sh stop

[Install]
WantedBy=multi-user.target