[Unit]
Description=Files nginx
Requires=files-uwsgi.service
After=files-uwsgi.service

[Service]
Type=notify
Environment=SNAP_COMMON={{ app_data }}
PIDFile={{ app_data }}/nginx/nginx.pid
ExecStart={{ app_dir }}/bin/service.nginx.sh start
ExecReload={{ app_dir }}/bin/service.nginx.sh reload
ExecStop={{ app_dir }}/bin/service.nginx.sh stop

[Install]
WantedBy=multi-user.target